html, body, .container {

	height: 100%;


}

body {
  
	padding: 0;
	margin: 0;

}




.btn-default {

  margin: 0 auto;
  color: silver;
 
  border-color: silver;

  background: #91BD09;
  background: -webkit-linear-gradient( #91BD09, #4E9939); 
  background: -moz-linear-gradient( #91BD09, #4E9939); 
  background: -ms-linear-gradient( #91BD09, #4E9939); 
  background: -o-linear-gradient( #91BD09, #4E9939); 
  background: linear-gradient( #91BD09, #4E9939);
}



.navbar {

  min-height: 0px;
  margin-bottom: 0px;
  border-radius: 0px;

  background: #91BD09;
  background: -webkit-linear-gradient( #91BD09, #4E9939); 
  background: -moz-linear-gradient( #91BD09, #4E9939); 
  background: -ms-linear-gradient( #91BD09, #4E9939); 
  background: -o-linear-gradient( #91BD09, #4E9939); 
  background: linear-gradient( #91BD09, #4E9939);

}




.leaflet-routing-container {
  margin-top: 50px;
  display: none;

}


#bouton {
  cursor:pointer;
  font-size: 14px;
  z-index: 100;
  position: absolute;
  right: 5%;
  top: 3%;
}

.leaflet-routing-container {

display: none;

}

h3 { 
text-align:center;

}

#finchargement{
display:none;

}


#chargement{


background:white; 
background-image: url(../images/progress.gif);
background-repeat: no-repeat;
background-position: center ;
background-size: 100px 100px;
height: 100%;
width:100%;
z-index: 10;
position:absolute;



}

#map {
height: 100%;
}
