.ligne 
{
 background : transparent;
 border-color: #1E90FF;
 border-width: 0 0 1px;
 border-style : solid;
 margin-left: 2%;
 margin-right: 2%;
 margin-top: 2%;
 margin-bottom: 2%;
  }
 
/*.btn-primary
{
background: #F28F22;
background: -webkit-linear-gradient( #FF6A4F, #D33B11); 
background: -moz-linear-gradient( #FF6A4F, #D33B11); 
background: -ms-linear-gradient( #FF6A4F, #D33B11); 
background: -o-linear-gradient( #FF6A4F, #D33B11); 
background: linear-gradient( #F28F22, #BD5D19);
background : #E501BF;
}*/

#footer{

margin-top:-25px;

}
/*.btn-primary:hover
{
background: #E256A0;
}

.btn-primary:active
{
background: #E256A0;
}

.btn-primary:visited 
{
background: #E256A0;
}*/

 #from
 {
margin-left : 1%;
margin-right : 1%;
 }
 
 #to
 {
 margin-left : 1%;
margin-right : 1%;
}

 #headerResult{
 
 margin-top: 10%;
 
 }

.buttonResult
{
   padding-left: 5%;
  // margin-right : 7%;
 }
 
 
 .buttonResult1
{
padding-bottom: 50px;
padding-left: 3%;
 }
 
 
 .btn .btn-primary
 {
 padding:15px;
 }
 
 #type
{
padding-bottom:0%;
}

#date
{	
 padding-bottom : 0%;
}

#tabR {

margin-left : 1%;
margin-right : 1%;

}
#Bnext{
margin-left:35px;
}

#tabR #wait
 {
 background-color: #E0E0E0 ;
text-align:center; 
 }
 
#tabR #Imagewait
{
padding : 5px;
}

.row
{
padding-top: 25px;
}

#type{
//padding-top: 15px;
}

#date{

//padding-top: 15px;

}


#favoris{

position:absolute;
right:10px;
top: 6%;

}

#partir 
{


}


#PMillieu{

display:block;
margin-left:auto;
margin-right:auto;
margin:10px;

}

.Pbas{

display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;

}

.PHaut{

display:block;
margin-left:auto;
margin-right:auto;
margin:10px;
width:100%


}

#Newtineraire{

}

#result{

padding-bottom:40%;

}

#plustard {

margin-top:-45px;
}

#plustard{

margin-left:auto;
margin-right:auto;

}

#plustard .row{

margin-left:auto;
margin-right:auto;

}

.footerIcon {

height: 3.5em; padding: 0.6em; display: block; margin-left: auto; margin-right: auto ; }